<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
</head>
<body>
  <h2>Reset Password</h2>

  <form action="/reset-password" method="POST">
    <label>Email:</label>
    <input type="email" name="email" required />

    <label>OTP:</label>
    <input type="text" name="otp" required />

    <label>New Password:</label>
    <input type="password" name="newPassword" required />

    <button type="submit">Reset Password</button>
  </form>
  <p>
  <a href="/login">Back to Login</a>
</p>

</body>
</html>
